* {
  box-sizing: border-box;
}

/* all page */
html {
  scroll-behavior: smooth;
}

body{
  border: 1px solid #000;
  font-family: Roboto, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* .section-item a {
  color: #829985;
  text-decoration: none;  
  transition: color 0.5s;
}
.section-item a:hover {
  color: #4d2323;
} */


/* block header */
.header {
  background: rgb(81, 203, 240);
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-item {
}
.nav-link {
  padding: 0 15px;
  line-height: 30px;
  text-decoration: none;
  color: aliceblue;
  font-size: 22px;
  font-weight: 400;
  transition: .9s;
}
a:hover {
  color: blueviolet;
}

/* block main */
.main {
  height: 50%;
  border: 1px solid rgb(4, 63, 24);
  background: rgb(157, 240, 136);
}

/* block main */
.footer {
  background: rgb(230, 140, 140);
  border: 1px solid rgb(88, 6, 6);
  height: 100px;
}




