* {
  box-sizing: border-box;
}

/* all page */
html {
  scroll-behavior: smooth;
}

body{
  /* border: 1px solid #000; */
  font-family: Roboto, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.5;
  color: #000;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* медиазапросы */
@media (max-width: 768px) {
  .section-container-items {
    flex: 0 1 100%;
  }
  .nav-link {
    font-size: 10px;
    border: 1px solid #000;
  }
  .section-prof-ava {
    width: 100px;
    height: 00px;}
}


/* block header */
.header {
  background: rgb(81, 203, 240);
  height: auto;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-link {
  padding: 0 15px;
  line-height: 30px;
  text-decoration: none;
  color: aliceblue;
  font-size: 22px;
  font-weight: 400;
  transition: .9s;
  
}
a:hover {
  color: rgb(73, 226, 43);
}

/* block main */
.section-prof {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 35px 50px 35px;
  border-bottom: 10px solid #f1a0a0;
}
.section-prof-item {
  /* flex: 0 1 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.section-prof-ava {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0 4px 8px rgba(20, 3, 3, 0.356);
  transition: .7s;
}
.section-prof-title {
  /* position: relative; */
  font-family: Pushster, serif;
  padding: 0;
  margin-bottom: 20px;
  color: #6e0d0d;
  font-size: 54px;
  font-weight: 700;
  letter-spacing: 8px;
  word-spacing: normal;
  line-height: 50px;
  border-bottom: 5px solid #240f0f6b;
}
.section-prof-subtitle {
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* section-container */
.section-container {
  padding: 15px;
  display:flex;
  flex-wrap:wrap;
}
.section-container-items {
  flex: 0 1 50%;
  padding-bottom: 20px;
  border-bottom: 1px solid #13070759;
  font-size: 18px;
}
.section-title {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #1f0c8d;
}
.section-container li {
  margin-bottom: 10px;
}
/* .section-container p {
  line-height: 24px;
} */
.section-education {
  border-bottom: none;
}
.section-english {
  border-bottom: none;
}

/* block footer */
.footer {
  background: rgb(47, 133, 36);
  padding: 20px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  padding: 0 10px;
}
.link-github {
  text-decoration: none;
  color: #fff;
  transition: .9s;
}
.footer-link-rss {
  width: 100px;
}

.logo-rss {
  width: 100%;  
}
